.popup__input-error {
  margin: 0;
  margin-bottom: 5px;
  color: rgba(255, 0, 0);
}

.popup__input-error:last-of-type {
  margin-bottom: 0;
}
/* 
.popup__input-error-ia-active {
  color: rgba(255, 0, 0);
} */
